  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{nombre}} {{apellidos}}</ion-card-title>
            <ion-card-subtitle>{{edad}} años</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Contenido
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{nombre}} {{apellidos}}</ion-card-title>
            <ion-card-subtitle>{{edad}} años</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Contenido
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{nombre}} {{apellidos}}</ion-card-title>
            <ion-card-subtitle>{{edad}} años</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Contenido
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>