ion-card{
    position:relative;
    width: 30vw;
    background-color: #1e1e1e;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 20px;
}

ion-card-title {
  color: #5e66f5;
}

.valor-usuario {
  margin-left: 20px;
}

.info-usuario{
    color: rgb(137, 182, 197);
}

.heart{
    position:absolute;
    right: 25px;
    top:25px;
}

.trash{
    position:absolute;
    right:25px;
    bottom:25px;
}