.card {
  width: 30vw;
  background-color: #cdd2d6;
  padding: 20px;
  min-width: 275px;
}

.fav-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.delete-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-user {
  margin-left: 20px;
}

.label-user {
  color: rgb(67, 90, 98);
}

.heart {
  position: absolute;
  right: 25px;
  top: 25px;
}
