<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="title">
      <ion-title>
        Home
      </ion-title>
      <ion-button id="open-modal" expand="block">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<div class="container full-width full-height scroll">
  <div class="percent-80 container">
    <app-user-info class="cards" appHighlight *ngFor="let user of (usersService.users$ | async) |
  favs:(favoriteService.favs$ |async)" [user]="user" (onFavClicked)="onFavClicked(user, $event)"
      (onDeleteClicked)="onDeleteClicked(user)" (onCardClicked)="onCardClicked(user)">
    </app-user-info>
  </div>
  <div class="percent-20 container">
    <app-user-small-card *ngFor="let favorite of favoriteService.favs$ |async" [id]="favorite.id"
      (onFavClicked)="onFavSmallCardClicked(favorite.id)">
    </app-user-small-card>
  </div>
</div>

<ion-loading message="cargando..." [isOpen]="loading"></ion-loading>