.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  padding: 20px;
}

.cards {
  width: 23vw;
}

.full-width {
  width: 100vw;
}

.full-height {
  height: 100vh;
}

.percent-80 {
  width: 78vw;
  gap:20px;
  border-right: 1px solid #cdd2d6;
}
.percent-20 {
  position:relative;
  width: 15vw;
}
.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

ion-modal {
  --max-width: 60vw;
  --max-height: 80vh;
  --border-radius: 10px;
}
