<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/welcome">Ir a bienvenida</ion-button>
  <ion-grid class="tarjetas">
    <ion-row>
      <ion-col>
        <app-user-info [nombre]="'Eddar'" [apellidos]="'Stark'" [edad]="51"></app-user-info>
      </ion-col>
      <ion-col>
        <app-user-info [nombre]="'Robert'" [apellidos]="'Baratheon'" [edad]="62"></app-user-info>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-user-info [nombre]="'Jon'" [apellidos]="'Snow'" [edad]="43"></app-user-info>
      </ion-col>
      <ion-col>
        <app-user-info [nombre]="'Robert'" [apellidos]="'Baratheon'" [edad]="62"></app-user-info>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>