<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-col>Home</ion-col>
      <ion-col>
        <ion-button routerLink='/welcome'>Welcome</ion-button>
        <ion-button>Favoritos</ion-button>
      </ion-col>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="tarjetas">
    <app-user-info *ngFor="let miUsuario of users.users$ | async" [usuario]="miUsuario"
      (onFavClicked)="onFavClicked(miUsuario,$event)" (onDeleteClicked)="onDeleteClicked(miUsuario)"></app-user-info>
  </div>

</ion-content>
