<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="container full-width full-height">
  <app-user-info class="cards"
  appHighlight
  *ngFor="let user of (usersService.users$ | async) |
  favs:(favoriteService.favs$ |async)"
  [user]="user"
    (onFavClicked)="onFavClicked(user, $event)"
    (onDeleteClicked)="onDeleteClicked(user)"
    (onCardClicked)="onCardClicked(user)" >

  </app-user-info>
</div>

<ion-loading message="cargando..." [isOpen]="loading"></ion-loading>
